@import "../../styles/Variables.scss";

.context-menu {
  position: fixed;
  background: $white-color;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;

  &--option {
    display: block;
    outline: none;
    border: 0;
    text-align: left;
    font-size: $font-size-sm;
    width: clamp(200px, 20vmin, 300px);
    padding: 0.8em 1em;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    span {
      min-width: 20px;
      margin-right: 5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $muted-color;
    }

    &:hover {
      background-color: $hover-color;
      color: $black-color;
    }

    &:active {
      color: #999999;
      background: $muted-color;
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }

    &__success {
      background-color: $success-color;
      color: $white-color;
      pointer-events: none;
    }
  }
}
