.purchases {
    .page-main-card {
        border-radius: $border-radius-lg;
        background-color: var(--main-card-background-color);
        padding: 18px;

        .page-item {
            border-radius: $border-radius;
            margin: 8px 0px;
            background-color: $white-color;
            transition: 0.3s ease-in-out all;
            padding: 10px;

            &:hover {
                background-color: $hover-color;
            }

            .span-label {
                display: block;
                font-size: $font-size-xs;
                color: $primary-color;
                text-transform: uppercase;
                margin: 0;
                line-height: 1;
                transition: 0.3s ease-in-out all;
                font-weight: $font-weight-bold;
            }
        }

        .ijg-empty-message {
            h6 {
                color: var(--color-text);
            }
        }
    }
}

.purchases-view-page {
    .page-main-card {
        border-radius: $border-radius-lg;
        background-color: var(--main-card-background-color);
    }

    .purhase-page-form {
        background-color: var(--card-background-color);
        padding: $padding-lg;
        border-radius: $border-radius-lg;

        .uk-form-label {
            font-size: $font-size;
            color: var(--color-text);
            font-weight: $font-weight-semibold;
            margin-top: 10px;
        }
    }

    .purhase-page-table {
        border-radius: $border-radius-lg;
    }

    // new csss
    .page-main-card {

        border-radius: $border-radius-lg;

        position: relative;
        transition: border 0.3s ease, box-shadow 0.3s ease;
    }

    .purhase-page-table {
        // new
        background-color: var(--background-color);
        overflow-y: auto;

        .header {
            th {
                font-weight: $font-weight-semibold;
                text-transform: none;
                white-space: nowrap;
                padding: 10px 3px;
            }
        }

        .row {
            cursor: pointer;

            td {
                font-size: $font-size-sm;
                padding: 10px 3px;
            }

            .controls {
                white-space: nowrap;
            }

            .status {
                height: 10px;
                width: 10px;
                background-color: #fff;
                border-radius: 10px;
            }

            .actual-value {
                color: #fff;
                text-align: center;
            }

            .purchase-input {
                min-width: 120px;
            }
        }
    }
}