

.logged-out {
  border: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background-image: url('./Landing.jpg'); /* Use a relative path */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d70808;
  border-radius: 5px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
