.logged-out {
  height: 100vh;
  background: url("../../../assets/bg.jpg") transparent !important;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6) !important;
  overflow: hidden;

  .login-container {
    height: 90%;
    display: flex;
    flex-direction: column; // Stack elements vertically

    .login-logo {
      width: 100%; // Full width
      margin-bottom: 20px; // Space between logo and form
      img {
        width: 100%; // Make logo responsive
        max-width: 350px; // Adjust as needed
        height: auto; // Maintain aspect ratio
      }
    }

    .login-form {
      padding: 20px 30px;
      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6) !important;
      border-radius: $border-radius;

      .uk-form-label {
        color: #e7eef3 !important;
      }

      .main-title-lg {
        color: #e7eef3;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
    
    @media (max-width: 768px) {
      .login-logo img {
        max-width: 250px; // Adjust width for smaller screens
      }

      .login-form {
        padding: 20px 15px; // Adjust padding for smaller screens
      }
    }
  }
}
