// .uk-card-outlined {
//   border: 1px solid $light-grey-color;
// }

// .uk-card-muted {
//   background-color: $muted-color;
// }

.ijg-card{
    background-color: var(--card-background-color);
    color: var(--color-text);
    border-radius: 20px;
     max-height: 100%; /* Adjust this value to limit the maximum height */
     width: auto;
   
  overflow: hidden;
  padding: 10px; /* Add padding to create space between content and card edges */
  box-sizing: border-box; /* Include padding in the element's total width and height */
   

    .ijg-card-title{
        color: var(--color-text);
        font-weight: 600;
        font-size: 1.6rem;
         margin-bottom: 1rem; /* Optional: Adjust margin as needed */
    }
    .ijg-card-title-md{
        color: var(--color-text);
        font-weight: 600;
        font-size: 1.4rem;
    }
    .ijg-card-title-sm{
        color: var(--color-text);
        font-weight: 600;
        font-size: 1rem;
    }
}
