.kit-dropdown {
  padding: 0em;

  .kit-dropdown-nav {
    padding: 0;

    li {
      margin: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $muted-color;
      }

      .kit-dropdown-btn {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0.8em 1em;
        width: 100%;
        background-color: transparent;
        border: 0;
        outline: none;
        min-height: 0 !important;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        max-width: 200px;
        font-size: $font-size-sm;
        font-weight: $font-weight-semibold;
        text-align: left;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $grey-color;

        span {
          min-width: 20px;
          margin-right: 5px;
        }

        &:hover {
          background-color: $hover-color;
          color: $black-color;
        }

        &:disabled {
          color: $grey-color !important;
          cursor: not-allowed;

          &:hover {
            background-color: $muted-color !important;
          }
        }
      }
    }
  }
}