.pie-chart {
  height: 100%;

  .title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    canvas {
      height: 100% !important;
      width: auto !important;
    }
  }
}
