//Typography
$ijg-font-size-sm:"";
$ijg-font-size-md:"";
$ijg-font-size-lg:"";
$ijg-font-size-xl:"";

//Colours
$ijg-primary-colour:"";
$ijg-secondary-colour:"";
$ijg-warning-colour:"";
$ijg-danger-colour:"";

//Components
$btn-primary:"";
$btn-secondary: "";
$btn-danger: "";
$btn-warning: "";


// Border radius
$border-radius: 4px;
$border-radius-lg: 8px;




