.application-layout {
  display: flex;
  height: 100vh;

  .drawer-layout {
    position: fixed;
    z-index: 981;
    width: $drawer-width;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;

    .account-settings {
      margin-top: -25px !important;
      border-radius: $border-radius;
      img {
        object-fit: contain;
        -o-object-fit: contain;
        object-position: center center;
        -o-object-position: center center;
        padding: 10px;
      }
    }
  }

  .main-layout {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-page-background);
    margin-bottom: 4rem;

    @media only screen and (min-width: 640px) {
      margin-left: $drawer-width;
    }
  }

  .main-layout::-webkit-scrollbar {
    display: none;
  }
}