.successful-alert {
  background-color: white;
  margin: 40px auto;
  padding: 20px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 80%;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    svg {
      font-size: 30px;
      color: green;
    }

    h3 {
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      color: #424242;
      margin: 10px 0 0;
    }
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
    color: #757575;
    margin: 0 0 20px;
  }

  .alert-buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      background: #e4f7e8;
      border-radius: 8px;
      border: none;
      color: green;
      font-size: 16px;
      cursor: pointer;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}