// ProgressBar.scss
@import '../../../../../shared/styles/Variables.scss';

.progressBar {
  .main-title-sm {
    font-size: 9px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; // Add some space between title and progress bar
    color: $white-color; // Title color
  }

  &__bar {
    height: 10px; // Adjust the height of the progress bar
    border-radius: 5px; // Adjust the border-radius accordingly
    overflow: hidden;
    background-color: $white-color; // Background color of the progress bar
  }

  &__fill {
    height: 100%;
    background-color: $primary-dark; // Color of the filled portion of the progress bar$
    transition: width 0.3s ease; // Smooth transition for width changes
    text-align: center;
  }

  .progress-view {
    font-size: 9px;
    color: $black-color;
    padding-bottom: 3px;
  }
}